// Fonts
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles (GLOBAL)
.btm-bordered {
    border-bottom: 1px solid #b1b1b1;
}

body {
    color: #b1b1b1;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

// Styles (ELEMENT)
.navbar {
    margin-bottom: 25px;

    ul {
        text-transform: uppercase;
        color: #555555;
        font-size: 14px;
        padding: 8px;
        text-decoration: none;

        li {
            text-decoration: none;
            transition: 0.5s;

            &:hover {
                text-decoration: underline;
                transition: 0.5s;
            }
        }
    }
}

.logo {
    margin-bottom: 75px;
}

footer {
    margin-top: 75px;

    .copyright {
        padding-top: 35px;
        padding-bottom: 35px;
        border-top: 1px solid #b1b1b1;

        a {
            text-decoration: none;
            font-weight: bold;
            color: #000;
            transition: 0.5s;

            &:hover {
                text-decoration: underline;
                transition: 0.5s;
            }
        }
    }
}

.products {
    .items {
        margin-bottom: 25px;

        .card {
            background: transparent;
            border: none;

            .card-header {
                width: 100%;
                height: 300px;
                position: relative;
                display: inline-block;
                overflow: hidden;
                margin: 0;
                padding: 0;

                @media (max-width: 425px) {
                    height: 400px;
                }

                @media (min-width: 426px) and (max-width: 768px) {
                    height: 200px;
                }

                img {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    min-height: 100%;
                    min-width: 100%;
                    transform: translate(-50%, -50%);
                }
            }

            .name {
                text-transform: uppercase;
                font-size: 25px;
                text-align: center;
                color: #000;

                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 19px;
                }
            }

            hr {
                width: 15%;
                margin: 10px auto;
                color: #000;
                border: 1px solid;
            }

            .price {
                text-transform: uppercase;
                font-size: 19px;
                text-align: center;
                color: #000;

                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 13px;
                }
            }
        }
    }
}

.product-detail {
    background-color: #f8fafc;
    padding: 10% 0;

    @media (max-width: 767px) {
        padding: 5% 10%;
    }

    .name {
        text-transform: uppercase;
        font-size: 35px;
        text-align: center;
        color: #000;
        padding: 0 15%;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 29px;
        }

        @media (max-width: 767px) {
            padding: 0 7%;
        }
    }

    hr {
        width: 15%;
        margin: 10px auto;
        color: #000;
        border: 1px solid;
    }

    .price {
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
        color: #000;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 19px;
        }
    }

    .description {
        text-transform: none;
        margin-top: 7%;
        font-size: 19px;
        width: 90%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}
